extends ../layout.jade
block content
    
    .container
        h1 Welcome DevHound !   
        div
            a(href="http://www.baidu.com") BaiDu
        div 
            a(href="/manager/task") Task        Manager
        div
            a(href="/manager/device") Device Info Manager