extends ../layout.jade
block content
    
    .container
        .row
            //div(class="col-sm-3 col-md-6 col-lg-8" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444,  inset -1px 1px 1px #444;")
                p. 
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                    enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. 
            .col-xs-4 
                p.
                    sjfsdlkfjsdjflsjfkls
            .col-xs-4
                p. 
                    lsdjflsjfksjdfjsklfj
        

        //
            div(style='padding: 100px 100px 10px;')
                form(class='bs-example bs-example-form')
                    div.input-group
                        span.input-group-addon Task Name
                        input(type='text').form-control
                    br
                    div.input-group
                        span.input-group-addon Command
                        input(type='text').form-control
                    div.input-group
                        span.input-group-addon Description
                        input(type='text').form-control